.background{
    -fx-background-color: #202234;
}

.titled-pane{
    -fx-background-color: transparent;
}

.titled-pane > .title
{
    -fx-background-color: transparent;
    -fx-border-color: rgba(255, 255, 255, 0.5);
    -fx-font-weight: bold;
    -fx-border-radius: 1em 1em 0 0;
    -fx-background-radius: 1em 1em 0 0;

}
.titled-pane > *.content
{
    -fx-border-color: rgba(255, 255, 255, 0.5);
    -fx-background-color: #202234;
    -fx-border-radius: 0 0 1em 1em;
    -fx-background-radius: 0 0 1em 1em;
}


.titled-pane > .title > .text
{
    -fx-fill: WHITE;
}

.split-pane
{
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.button {
    -fx-background-color: #2167e4;
    -fx-border-radius: 5em;
    -fx-background-radius: 5em;
}


.text-field {
    -fx-text-inner-color: white;
    -fx-text-fill: white;
    -fx-prompt-text-fill: gray;
}


.menu-bar {
    -fx-background-color: #393f51;
    -fx-border-width: 2.0;

}
.menu-bar .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: #393f51;
    -fx-text-fill: white;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: #202234;
    -fx-opacity: 0.5;
    -fx-border-radius: 3em;
    -fx-background-radius: 3em;
}



/*
Таблица
 */

.table-view {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .cell{
    -fx-background-color: transparent;
}

.root .table-view{
    -fx-control-inner-background:  #202234;
}

.table-row-cell:selected .table-cell {
    -fx-background-color: #2d3143;
    -fx-background: #2d3143;
}

/*
Хедеры таблиц
 */
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #393f51;
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


/*
Сплитер
 */
.split-pane:horizontal > .split-pane-divider,
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: #393f51;
}


/*
Scrollbar
 */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:vertical .thumb,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : #414352;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:horizontal .thumb:hover{
    -fx-background-color : transparent;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}


.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar .increment-button {
    visibility: hidden;
}

.scroll-bar .decrement-button {
    visibility: hidden;
}
.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track-background,
.scroll-bar:vertical .track-background {
    visibility: hidden;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    visibility: hidden;
}
.hide-thumb .scroll-bar:horizontal .thumb,
.hide-thumb .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}